.forma {
    border-style: solid;
    width: 570px;
    margin-right: 100px;
    margin-left: 500px;
    padding: 10px;
    background-color: rgb(108, 108, 243);
    
}

.name {
    border-style: solid;
    width: 350px;
    margin-left: 100px;
    padding: 20px;
    height: auto;
    margin-bottom: 50px;
    background-color: rgb(49, 210, 43);
}

.login {
    border-style: solid;
    width: 350px;
    margin-left: 100px;
    padding: 20px;
    height: auto;
    margin-bottom: 50px;
    background-color: rgb(30, 30, 194);
}

.password {
    border-style: solid;
    width: 350px;
    margin-left: 100px;
    padding: 20px;
    height: auto;
    margin-bottom: 50px;
    background-color: rgb(35, 35, 73);
}

.reset {
    background: navy; 
    color: white; 
    font-size: 9pt; 
}

.submit {
    background: rgb(9, 68, 2); 
    color: white; 
    font-size: 9pt;
}