*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
a{
    display: inline-block;
}
.header{
    background-image: url("images/bg1.png");
    background-size: cover;
    margin: 0;
    height: 816px;
}
.header .logo{
    display: flex;
    justify-content: center;
    padding-top: 41px;
}
.header h1{
    display: flex;
    justify-content: center;
    padding-top:  265px;
    color: #FFF;
    font-size: 60px;
    font-family: Bebas Neue;
    margin: 1px;
    letter-spacing: 5.709px;
}
.header h4{
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    margin: 0px;
}
.header p{
    color: #FFF;
    display: flex;
    justify-content: center;
    font-size: 11px;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 300px;
}

.navbar{
    margin: 24px 0 24px 251px;
    display: flex;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-top: 25px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 58%;
}
.nav div{
    margin-left: 19%;
}
.nav a{
    text-decoration: none;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1.091px;
    color: #48555B;
}

.wrapper{
    display: grid;
    justify-content: center;
    margin-top: 57px;
}
.wrapper p{
    margin-left: 35px;
}
.wrapper div{
    color: #48555B;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.306px;
    padding-bottom: 1px;
} 

.box{
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    height: auto;
    margin-top: 80px;
    width: 75%;
    margin: auto;
    margin-top: 55px;
 }
 .box0{ 
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    color: #48555B;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.188px;
    
 }
 .box1{ 
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    color: #48555B;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.188px;  
 }
 .box2{
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    text-align: center;
    padding-top: 20px;
 }
 .box3{
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;
    text-align: center;
    padding-top: 20px;

    
 }
 .box4{
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 6;
    text-align: center;
    padding-top: 20px;
 }
 .founded img{
    width: 100%;
 }
 

 .angry-grid {
    width: 75%;
    display: grid; 
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        'item0 item1 item1 item1 item1 item2'
        'item3 item3 item4 item4 item5 item5';
    height: auto;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 115px;
    
    
 }
.label0{
    grid-area: item0;
    color: #48555B;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    
}
.label1{
    grid-area: item1;
    color: #48555B;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    margin-left: 280px;
}
.label2{
    grid-area: item2;
    margin-left: 50px;
}
.angry-grid button{
    width: 150px;
    height: 40px;
    background: #00A4E5;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.label3{
    grid-area: item3;
    border: 1px solid #E6E6E6;
    width: 350px;
    height: 330px;
    margin-top: 70px;
}

.label3 img{
    margin-left: 15px;
    margin-top: 25px;
}
.label3 h3{
    margin-left: 15px;
    margin-top: 10px;
}
.label3 p{
    margin-left: 15px;
    margin-top: 10px;
    color: #48555B;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.188px;
}
.label4{
    grid-area: item4;
    border: 1px solid #E6E6E6;
    width: 350px;
    height: 330px;
    margin-top: 70px;
}
.label4 img{
    margin-left: 15px;
    margin-top: 25px;
}
.label4 h3{
    margin-left: 15px;
    margin-top: 10px;
}
.label4 p{
    margin-left: 15px;
    margin-top: 10px;
    color: #48555B;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.188px;
}
.label5{
    grid-area: item5;
    border: 1px solid #E6E6E6;
    width: 350px;
    height: 330px;
    margin-top: 70px;
}
.label5 img{
    margin-left: 15px;
    margin-top: 25px;
}
.label5 h3{
    margin-left: 15px;
    margin-top: 10px;
}
.label5 p{
    margin-left: 15px;
    margin-top: 10px;
    color: #48555B;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.188px;
}
.label4, .label5{
    margin-left: 50px;
}


.want_to_build{
    background-image: url("images/bg.png");
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    height: 500px;
    background-size: cover;
}
.want_to_build h2{
    width: 350px;
    height: 72px;
    text-align: center;
    margin-left: 600px;
    color: #48555B;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.15px;
    
}
.want_to_build button{
    width: 150px;
    height: 40px;
    margin-left: 700px;
    margin-bottom: 360px;
    background: #00A4E5;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
}


.contact{
    background-color: #171819;
    height: 100px;
}
.contact .user_input{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.user_input span{
    margin-right: 70px;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.846px;
}
.user_input input{
    width: 250px;
    height: 40px;
    color: #48555B;
    font-size: 14px;
    letter-spacing: 0.07px;
    text-align: start;
}
.user_input button{
    width: 150px;
    height: 40px;
    background: #00A4E5;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;
}


.footer{
    background-color: #141A20;
    height: 240px;
    
}


.info {
    display: grid; 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
     'label0 label1 label2 label3 label4 label5 label6 label7';
    gap: 0px;
    height: 240px;
    width: 75%;
    margin: auto;
 }
 #item-0 { 
    grid-area: label0;
    width: 260px;
 }
 #item-0 h4{
    color: #FFF;
    font-size: 11px;
    letter-spacing: 0.846px;
    padding-top: 42px;
    padding-bottom: 20px;
 }
 #item-0 img{
    padding-bottom: 15px;
 }
 #item-0 p{
    color: #FFF;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.85px;
 }
 #item-1 { 
    grid-area: label1;
    padding-left: 225px;
    width: 340px;
 }
 #item-1 p{
    color: #FFF;
    font-size: 11px;
    letter-spacing: 0.846px;
    padding-top: 45px;
    padding-bottom: 12px;
 }
 #item-1 a{
    display: block;
    text-decoration: none;
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.846px;
 }
 #item-2 { 
    grid-area: label2;
    padding-top: 72px;
    
 }
 #item-2 a{
    display: block;
    text-decoration: none;
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.846px;
 }
 #item-3 { 
    grid-area: label3;
    padding-top: 72px;
    padding-left: 40px;
 }
 #item-3 a{
    display: block;
    text-decoration: none;
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.846px;
 }
 #item-4 {
    grid-area: label4;
    padding-left: 40px;
    
 }
 #item-4 p{
    color: #FFF;
    font-size: 11px;
    letter-spacing: 0.846px;
    padding-top: 45px;
    padding-bottom: 12px;
 }
 #item-4 span{
    color: #FFF;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846px;
 }
 #item-5 { 
    grid-area: label5;
    margin-left: 1px;
    width: 135px;
 }
 #item-5 div{
    margin-top: 75px;
    margin-left: 25px;
 }
 #item-5 img{
    margin-left: 20px;
 }



















.konstruct{
    background-color: #171819;
}
.konstruct div{
    padding-top: 20px;
    padding-bottom: 23px;
    text-align: center;
    color: #FFF;
    font-size: 11px;
    letter-spacing: 0.846px;
}