*{
    box-sizing: border-box;
}
html, body{
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}
body{
    background-image: url("images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    display: inline-block;
}



.container{
    width: 96%;
    margin: 0 auto;
    display: flex;
}
.section1{
    width: 48%;
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.text p{
    font-size: 24px;
    line-height: 29px;
    color: #C8C8C8;
}
.text, .line{
    margin-left: 3%;
}
.section2 button{
    font-size: 3rem; 
    color: #FFFFFF;
    border: medium none;
    border: medium none;
    background-image: none; 
    border: medium none; 
    background-image: none; 
    background: transparent;
    background-color: transparent; 
}
.section2 img{
    border-radius: 40px;
    margin-left: 8%;
}
.section2{
    width: 48%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}




.container2{
    width: 86%;
    margin: 0 auto;
    display: flex;
    margin-top: 4%;
    justify-content: start;
    align-items: center;
}
.container2 h2{
    margin: 1;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}
.container2 img{
    height: 1%;
    margin: 2%;
}



.container3 h1{
    margin: 0 auto;
    width: 86%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-weight: 800;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
}



.container4{
    width: 86%;
    margin: 0 auto;
    display: flex;
    margin-top: 3%;
    justify-content: start;
    align-items: center;
}
.container4>div{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #A7A6A6;
}


.container5 p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #A7A6A6;
    width: 86%;
    margin: 0 auto;
    margin-top: 2%;
}


.full-stars {
    width: 86%;
    margin: 1% auto;
}
.full-stars .rating-group {
    display: inline-flex;
}
.full-stars input {
    position: absolute;
    left: -9999px;
}
.full-stars label {
    margin: 2%;
    cursor: pointer;
}
.full-stars label svg {
    margin: 2px;
    height: 40px;
    width: 40px;
    fill: #aaf42a;
    transition: fill 0.3s;
}
.full-stars input:checked ~ label svg {
    fill: #BFE2FF;
}
.full-stars .rating-group:hover label svg {
    fill: #54f210;
}
.full-stars .rating-group input:hover ~ label svg {
    fill: #BFE2FF;
}


.container6{
    width: 86%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 1%;
}
.STREAM-NOW{
    margin-right: 4%;
}

.STREAM-NOW button{
    width: 272px;
    height: 64px;
    background: #D50D1F;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 22px;
    line-height: 141.52%;
    color: #FFFFFF;
}

.STREAM-NOW img{
    margin-left: 10%;
}

.ALL-EPISODES button{
    width: 271px;
    height: 64px;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    background: transparent;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 22px;
    line-height: 141.52%;
    color: #FFFFFF;
}


.POPULAR{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 144.52%;
    letter-spacing: 0.135em;
    color: #FFFFFF;
    width: 86%;
    margin: auto;
    margin-top: 5%;
}



